
/* +++ DOCUMENT BASICS +++--------------- */
body {
  font-family:sans-serif;
  font-size:11pt;
  background-color:#f0f0f0;
}

/* <body> html-ized sources */
body.src-html {
  background-color:#fffff0;
}

/* <body> of index main */
#index-main {
}
/* <body> of index file */
#index-file {
}
/* <body> of index procedures */
#index-proc {
}
/* <body> of index for procedure calls */
#index-call {
}
/* <body> of index for annotations */
#index-annot {
}
/* <body> of for full annotations page */
#full-annot {
}

/* some basic styles for def lists */
dl  {
  margin-top:0.3em;
  margin-bottom:0.3em;
}

dt {
  font-size:100%;
  font-weight:bold;
}

dd {
  font-size:100%;
  font-weight:normal;
}


/* <div> class of header defined by command line option
 * for pages in the main view
 */
.main-header {
  font-size:150%;
  font-weight:bold;
  color:#204080;
  margin-top:0.1ex;
  margin-bottom:1ex;
  margin-left:0ex;
  margin-right:0ex;
}

/* <div> class of header defined by command line option
 * for pages in the nav bar
 */
.nav-header  {
  font-size:80%;
  font-weight:bold;
}


/* <img> logo image displayed in the header
 */
#logo  {
  margin:0px 1em 0px 0px;
  position:relative;
  /* because embedding 'main-header' has a margin, the logo can be set off the origin */
  top:0.0ex;
  left:0px;
}


/* +++ ANNOTATIONS +++------------------ */

/* <dl> (sublist of e.g. details-desc) lists the files properties or the
 *  procedures properties
 *  (param, return, etc details.
 * File overview annotations have an additional id (see '#file-props' here)
 * Procedure detail annotations have an additional id (see '#proc-props' here)
 # This means, they can be styled different.
 */
.props {
}

/* <dl> file overview */
.file-desc  {
}

/* <dl> (sublist of file-desc) lists the procedures properties
 *  (param, return, etc details */
#file-props {
}

/* <table> table which lists the procedure summaries */
.proc-summary {
  width:100%;
  border-spacing:0px;
  border-collapse:collapse;
  border-width:1px;
  border-style:solid;
  border-color:#101060;
}

.proc-summary th {
  font-size:150%;
  font-weight:bold;
  text-align:left;
  padding: 0.5ex 6px 0.5ex 6px;
  background-color:#b0b0f0;
  border-width:1px;
  border-style:solid;
  border-color:#101060;
}
.proc-summary td {
  font-size:100%;
  padding: 0.5ex 6px 0.5ex 6px;
  border-width:1px;
  border-style:solid;
  border-color:#9090c0;
}

/* <p> summary text under the proc def in the summary table */
.summary  {
  margin:0.3ex;
  text-indent:4em;
}

/* <table> table which lists the procedure details */
.proc-details {
  width:100%;
  border-spacing:0px;
  border-collapse:collapse;
  border-width:1px;
  border-style:solid;
  border-color:#101060;
}

.proc-details th {
  font-size:150%;
  font-weight:bold;
  text-align:left;
  padding: 0.5ex 6px 0.5ex 6px;
  background-color:#c0c0f0;
  border-width:1px;
  border-style:solid;
  border-color:#505080;
}


/* <h3> header for detailed proc description in annotations */
.details-header  {
  font-size:120%;
  font-weight:bold;
  padding:0.1ex 0.3ex 0.1ex 0.3ex;
  margin:1.5em 0ex 0.2ex 0ex;
  background-color:#e0e0e0;
  border-width:1px 0px 0px 0px;
  border-style:solid;
  border-color:#a0a0a0;
}

/* <dl> lists the description of the procedure details */
.details-desc  {
}

/* <dl> (sublist of details-desc) lists the procedures properties
 *  (param, return, etc details */
#proc-props {
}

/* <pre> proc definition in a details description */
.details-procdef {
  font-size:100%;
  font-weight:bold;
}

/* +++ SOURCE CODE +++------------------ */
/* <span> comment in source code */
.comment-line {
  color:#208020;
}

/* <pre> style source code */
.src-code {
  font-size:100%;
  color:#202000;
}


/* +++ INDEX LISTS +++------------------- */
/* <span> the links to select an index */
.index-selector  {
  font-size:80%;
  color:#000030;
}

/* <span> header of an index list in the navigation bar */
.index-header  {
  font-size:120%;
  font-weight:bold;
}


/* <span> file type selector in an index-list: annotation or original */
.filetype-link  {
  font-size:80%;
  font-weight:normal;
}

/* -----------------------------------------
 * <dl> index list in the full annotation index page */
.fullannot-index-list  {
  font-size:100%;
}
/* -----------------------------------------
 * <dl> main index list */
.main-index-list  {
  font-size:100%;
}

/* -----------------------------------------
 * <dl> index in the nav bar */
.nav-index-list  {
  font-size:100%;
}
.nav-index-list dt  {
  font-size:100%;
  font-weight:bold;
}
.nav-index-list dd  {
  font-size:100%;
  font-weight:normal;
}

/* <span> an item in a index which points to a file
 * not to a procedure
 */
.item-filetype {
  font-style:italic;
}
/* <span> an item in a index which points to a file
 * not to a procedure
 */
.item-proctype a {
  font-weight:bold;
}


/* -----------------------------------------
 * <dl> index by annotation in the nav bar */
#nav-by-annot  {
  /* your style ... */
}

/* -----------------------------------------
 * <dl> index by procedure call in the nav bar */
#nav-by-call  {
  /* your style ... */
}

/* -----------------------------------------
 * <dl> index by file name in the nav bar */
#nav-by-filename  {
  /* your style ... */
}

/* -----------------------------------------
 * <dl> index by proc name in the nav bar */
#nav-by-procname  {
  /* your style ... */
}

/* -----------------------------------------
 * <dl> main index by file name */
#main-by-filename  {
  /* your style ... */
}
/* -----------------------------------------
 * <dl> main index by proc name */
#main-by-procname  {
  /* your style ... */
}
/* -----------------------------------------
 * <dl> main index by proc call */
#main-by-call  {
  /* your style ... */
}


/* <h3> the presentation of the first letter in the
 * alpha sorted main index
 */
.mainindex-firstletter  {
  margin-top:1.5em;
  margin-bottom:0.2em;
  font-size:120%;
  font-weight:bold;
}

/* <h3> the presentation of the first letter in the
 * alpha sorted annotation index
 */
.fullannot-firstletter  {
  margin-top:1.5em;
  margin-bottom:0.2em;
  font-size:120%;
  font-weight:bold;
}

/* +++ OTHER PAGE ELEMENTS +++------------------ */
/* <span> Status line, date/time of generation */
.doc-status {
  font-style:italic;
  font-size:70%;
}
